@tailwind base;
@tailwind components;
@tailwind utilities;

form menu i {
    color: #8b2e44;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    left: 0.5rem;
    cursor: pointer;
}

